[defaults]
forks=350
pipelining=True
command_warnings=False
host_key_checking=False
callback_plugins=./ansible_plugin
bin_ansible_callbacks=True
log_path=./install.log
library=./library
module_utils=./module_utils
stdout_callback=standard

gathering=explicit
deprecation_warnings=False
interpreter_python=auto_legacy_silent
fact_caching_connection=./facts_cache

[inventory]
unparsed_is_failed=True

[ssh_connection]
scp_if_ssh=True
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s -o GSSAPIAuthentication=no
