/* Keep the rest of the previously added styles */
.wy-side-nav-search::before {
    content: '';
    display: block;
    background: url("Imagotipo_Kaxanuk.png") no-repeat center;
    background-size: contain;
    width: 80%;  /* Adjust width to 100% to ensure it's centered */
    height: 70px; /* Adjust the height as needed */
    margin: 0 auto; /* Ensures the element is horizontally centered */
    text-align: center; /* Ensures content inside is centered */
}

/* Ensure content is pushed down so it doesn't overlap the logo */
.wy-side-nav-search {
    padding-top: 10px; /* Adjust according to the logo's height */
    background-color: #f0f0f0 !important; /* Change this to your desired background color */
}

/* Change the background, border, and text color of the search bar if needed */
.wy-side-nav-search input[type="text"] {
    background-color: #f0f0f0 !important; /* Same color for visual consistency */
    border-color: #e84328 !important; /* Adjust the border color if needed */
    color: #2c2c2c !important; /* Change text color if needed */
}

/* Change the color of the project name link */
.wy-side-nav-search a {
    color: #e84328 !important; /* Change link color to red */
}

.wy-side-nav-search a:hover {
    color: #e84328 !important; /* Maintain red color on hover */
}

.wy-menu-vertical li a:hover {
    color: #e84328 !important; /* Maintain desired hover color for sidebar links */
}
