[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    base.cfg

update-versions-file = test-4.3.cfg

index = https://pypi.org/simple/

eggs +=
    Products.DocFinderTab
    aws.zope2zcmldoc

# http://<your-zope-root>/@@install-aws-zope2zcmldoc

[versions]
zc.buildout = 2.13.3
setuptools = 44.1.1
future = 0.18.2
traitlets = 4.3.3
# Upper version need zope.configuration 3.8
z3c.unconfigure = 1.0.1
pdbpp = 0.10.3
six = 1.16.0

# Required by:
# plone.versioncheck
CacheControl = 0.12.5
colorama = 0.3.9
MarkupSafe = 1.0
msgpack-python = 0.5.6
msgpack = 0.5.6

# Required by:
# pdbpp==0.10.3
fancycompleter = 0.9.1
pathtools = 0.1.2
pyrepl = 0.9.0
wmctrl = 0.4

# Required by:
# beautifulsoup
# soupsieve = 1.9.2
backports.functools-lru-cache = 1.5

# Required by:
# qa.cfg
pep517 = 0.8.2

# needed to upgrade from zope toolkit for fingerpointing
zc.lockfile = 1.4
