h3 {
    margin-top: 0px;
}

h2 {
    margin-bottom: 5px !important;
}

input, textarea {
    outline: none;
}

.header-message {
    font-weight: bold;
}

input[type="text"], textarea {
    background-color: #f3f3f3;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #74a6bd;
}


textarea {
    padding: 5px;
}

.market-item {
    background-color: #74a6bd;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.main-body {
    padding-left: 0 !important;
    min-height:400px;
    padding-bottom: 30px    
}