#projection {
  & .config {
    display: flex;
    /* grid-template-columns: 1fr max-content; */
    font-size: 0.9rem;
    gap: 2em;
    padding: 0 1em;
    justify-content: center;
    /* align-items: start; */

    & #projection__calibration {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      align-items: center;

      & h3 {
        width: 100%;
        text-align: center;
        margin: 0;
      }

      & #projection__calibration-table {
        --n-columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--n-columns), 1fr);
        grid-template-rows: repeat(11, max-content);
        grid-auto-flow: column;
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
        width: 100%;

        & div {
          display: contents;

          & span {
            padding: 0.25em 0;
          }
        }
      }



    }

    & #projection__config {
      display: grid;
      height: max-content;
      grid-template-columns: max-content 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 0.5em;
      align-items: center;

      &[hidden] {
        visibility: hidden;
      }

      & h3 {
        grid-column: 1 / -1;
        text-align: center;
        margin: 0;
      }

      & label {
        grid-column: 1;

        &.label-indent {
          padding-left: 1em;
        }

        &.label-disabled {
          color: oklch(var(--fg) / 0.5);
        }
      }

      & input {
        grid-column: 2;
      }

      & select {
        grid-column: 2;

        &[disabled] {
          color: oklch(var(--fg) / 0.5);
          border: none;
        }
      }

      & input[type='submit'] {
        grid-column: 1 / -1;
      }

      & .loading {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }

  }
}
