#calibration {
  flex-direction: column;
  gap: 3em;

  & .config {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9rem;
    grid-column-gap: 1em;
    padding: 0 1em;

    & #calibration__general-config {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 0.5em;
      align-items: center;

      & h3 {
        grid-column: 1 / -1;
        text-align: center;
      }

      & span {
        grid-column: 1 / -1;
      }

      & label {
        grid-column: 1;

        &.label-indent {
          padding-left: 1em;
        }

        &.label-disabled {
          color: oklch(var(--fg) / 0.5);
        }
      }

      & input {
        grid-column: 2;
      }

      & select {
        grid-column: 2;

        &[disabled] {
          color: oklch(var(--fg) / 0.5);
          border: none;
        }
      }

      & label[for='calibration__period-start'],
      & label[for='calibration__period-end'] {
        display: flex;
        justify-content: flex-start;
        gap: 0.25em;
        align-items: center;

        & button {
          background: oklch(var(--fg) / 0.1);
          box-shadow: none;
          font-size: 0.75rem;
          padding: 0.25em 0.5em;
          height: auto;
          width: auto;
        }
      }
    }

    & #calibration__manual-config {
      display: flex;
      flex-direction: column;

      &[hidden] {
        display: none;
      }

      & .slider {
        margin-bottom: 2em;
      }

      & .icon {
        align-self: center;
        margin: 1em 0;
      }

      & input[type='submit'] {
        width: 100%;
      }

      & .loading {
        justify-self: center;
      }
    }

    & #calibration__automatic-config {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 0.5em;
      align-items: center;

      &[hidden] {
        display: none;
      }

      & h3 {
        grid-column: 1 / -1;
        text-align: center;
      }

      & span {
        grid-column: 2;
        text-align: center;
      }

      & label {
        grid-column: 1;

        &.label-indent {
          padding-left: 1em;
        }

        &.label-disabled {
          color: oklch(var(--fg) / 0.5);
        }
      }

      & input {
        grid-column: 2;
      }

      & input[type='submit'] {
        grid-column: 1 / -1;
        width: 100%;
      }

      & .loading {
        grid-column: 1 / -1;
        justify-self: center;
      }

    }
  }

  & .results {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    & .results__export {
      width: auto;
      padding: 0.5em 1em;
      font-size: 0.9rem;
    }

    & .results__fig {
      width: 100%;
      min-height: 30em;
    }
  }
}

body.light {

  & label[for="calibration__period-start"],
  & label[for="calibration__period-end"] {
    & button {
      color: oklch(var(--fg));
    }
  }
}
