.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 4rem;
}

[data-md-color-scheme="alvoc"] {
    --md-primary-fg-color:        #4e8ada;
    --md-default-bg-color: #ffffff;
    --md-footer-bg-color: #4e8ada;
}