li.o_mail_composer_x_autocomplete_category {
    border-bottom: 1px solid #ccc;
}

.ui-widget.ui-autocomplete li.ui-menu-item.o_mail_composer_x_autocomplete_category>a {
    font-weight: bold;
    cursor: default;
    font-size: 0.9em;
    background-color: transparent;
    pointer-events: none;
    color: #495057;
}
