html {
    background-image: url("/static/waifu.png");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    font-family: sans-serif;
}

textarea {
    height: auto;
}

.row {
    margin: 5px 5px 5px 5px;
}

/* generic */

.hide {
    visibility: hidden;
}

/* site types */

#site-title {
}

#site-description {
    text-align: right;
    color: #092e20; /* django green */
}

/* post types */

.op {
    background: lightgray;
}

/* post headline elements */

.subject {
    color: darkblue;
}

.author {
    color: darkgreen;
}

.tripcode {
    color: green;
}

.pk {
    color: darkgrey;
}

.headline > p,
.headline > details,
.inline {
    display: inline;
}

/* post content elements */

.info > * {
    vertical-align: middle;
}

.ellipsis {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;
}

.ellipsis:hover {
    overflow: visible;
}

.image {
    height: 100%;
    width: auto;
}

.quotetext {
    color: green;
}

.roll {
    color: red;
}

.spoiler{
    background-color: black;
    color: transparent;
}

.spoiler:hover{
    background-color: inherit;
    color: inherit;
}

#viewimage {
    display: none;
    position: fixed;
    z-index: 314;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}
